/* popup */
input[type="text"] {
    width: 100%;
}

input[type="radio"][id*='storage'] {
    margin: 5px;
}

input[id="channelInput"] {
    margin-bottom: 0 !important;
}

button {
    background-color: green;
}

i {
    text-decoration: underline;
}

i:hover {
    color: #525252;
    cursor: pointer;
}

a {
    color: black;
}

#popup-content {
    margin: 10px;
    width: 250px;
}

#save-button {
    background-color: green;
    width: 49%;
    float: left;
}

#dashboard-button {
    width: 49%;
    float: right;
}

/*#settings-headline {*/
/*    margin-top: 50px;*/
/*}*/


.description {
    /*column-count: 2;*/
    text-align: justify;
}

.installed-content {
    width: 40%;
    margin: auto;
    text-align: center;
}


.dropdown-content {
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.pure-table {
    width: 100%;
}


.successInput {
    border-color: #00b600 !important;
}