body {
    margin-top: 20px;
}

.pure-table {
    width: 100%;
}

.explanation {
    margin-top: 15px;
}

input[type="radio"] {
    margin: 5px;
}

button {
    margin-top: 5px;
}

.deleteButton {
  width: 80%;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 37px;
  background-color: #e60000;
}

.deleteButtonContainer {
  /* one row is 47 px */
  position: relative;
  float:right;
  right: 120px;
  top: 35px;
  height: 100%;
  width: 5%;
  background-color: transparent;
}

.fa-trash {
  color: white;
}
