body {
    margin-top: 20px;
}

.pure-table {
    width: 100%;
}

div {
    margin-top: 15px;
}

input[type="radio"] {
    margin: 5px;
}

button {
    margin-top: 5px;
    background-color: green;
}

#saveButton {
    background-color: green;
}

.deleteButton {
    width: 80%;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 37px;
    background-color: #e60000;
}

.deleteButtonContainer {
    /* one row is 47 px */
    position: relative;
    float: right;
    right: 120px;
    top: 35px;
    height: 100%;
    width: 5%;
    background-color: transparent;
}

.fa-trash {
    color: white;
}

#progress-bar {
    width: 100%;
    background-color: grey;
    position: fixed;
    left: 0px;
    bottom: 0px;
}

#progress {
    margin-top: 0px;
    width: 0%;
    min-height: 5px;
    background-color: green;
    transition: min-height 1s cubic-bezier(0, 1, 0.5, 1);
}

.success-bar {
    min-height: 15px !important;
}
