body {
    margin: 10px;
    width: 250px;
}

label {
    margin-right: 5px;
}

input[type="text"] {
    width: 100%;
}

.dropdown-content {
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

#save-button {
    background-color: green;
    width: 49%;
    float: left;
}

#dashboard-button {
    width: 49%;
    float: right;
}
